:root {
  --color-mono: rgb(26, 215, 156, 0.7);
  --color-transparent: rgb(0, 0, 0, 0);
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed;
  background-color: black;
  background-image: radial-gradient(
    rgba(85, 85, 85, 0.75), black 120%
  );
  height: 100vh;
}

body {
  color: rgba(26, 215, 156, 0.7);
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

main {
  max-width: 900px;
  padding: 0 1rem;
}

@media (min-width: 600px) {
  main {
    padding: 5rem 10rem;
  }
}

ul {
  list-style-type: none;
}

li {
  margin-top: 3px;
}

a {
  line-height: 28px;
  padding: 2px 3px;
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: var(--color-mono);
}

a:focus, a:hover {
  background-color: var(--color-mono);
  border-radius: 1px;
  box-shadow: 0 0 8px var(--color-mono);
  color: black;
  outline: none;
  text-shadow: 0 0 3px #333;
}

a:focus {
  animation: 1200ms infinite blink-inverted;
}

@keyframes blink {
  0% {
    background-color: var(--color-transparent);
    box-shadow: 0 0 8px var(--color-transparent);
  }
  30% {
    background-color: var(--color-mono);
    box-shadow: 0 0 8px var(--color-mono);
  }
  50% {
    background-color: var(--color-transparent);
    box-shadow: 0 0 8px var(--color-transparent);
  }
}

@keyframes blink-inverted {
  50% {
    background-color: var(--color-mono);
    box-shadow: 0 0 8px var(--color-mono);
  }
  75% {
    background-color: var(--color-transparent);
    box-shadow: 0 0 8px var(--color-transparent);
  }
  100% {
    background-color: var(--color-mono);
    box-shadow: 0 0 8px var(--color-mono);
  }
}

textarea {
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  height: 70vh;
  width: 100%;
  resize: none;
}

pre {
  background-color: None;
  white-space: pre-wrap;
}

#console_container {
  height: 70vh;
  overflow-y: scroll;
  scrollbar-color: #0d6d4f rgba(0, 0, 0, 0.2);
}

#console_element {
  height: 100%;
}

#console_element:focus {
  outline: none;
}

#console_element:focus .cursor {
  animation: 1200ms infinite blink;
}

#console_element:focus .cursor::after {
  content: '\00a0';
}
